body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

.app {
  display: flex;
  flex-direction: column;

  height: 100vh;

  &__content {
    display: flex;
    flex-grow: 1;
  }
}

.sidebar {
  width: 10%;
  min-width: 10rem;
  max-width: 20rem;
  overflow-y: auto;

  &__item {
    text-align: center;

    a {
      display: block;
      padding: $gutter / 2;

      color: inherit;
      text-decoration: none;
    }
  }
}

.child-detail {
  flex-grow: 1;

  padding: $gutter;

  overflow-y: scroll;
}
