<ul class="sidebar">
  {{#each model as |blobbity|}}
    <li class="sidebar__item">
      {{#link-to "branches.detail" blobbity.id}}
        {{blobbity.name}} -
        {{blobbity.location}}
      {{/link-to}}
    </li>
  {{/each}}

  <li class="sidebar__item">
    {{#link-to "branches.new"}}
      {{fa-icon "plus"}}
    {{/link-to}}
  </li>
</ul>

<div class="child-detail">
  {{outlet}}
</div>
