<div class="app">
  <nav class="top-nav">
    <div class="yg-container">
      <ul class="nav-list">
        <li class="nav-list__brand">
          {{link-to "Stores" "branches.index"}}
        </li>
      </ul>
    </div>
  </nav>

  <div class="app__content">{{outlet}}</div>
</div>
